@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    --corfont: rgb(58, 0, 112);

}

body{
    background-color: #acacff;;
}

main{
    padding: 10px;
    width: 560px;
    margin: auto;
    background-color: white;
}

.a > h2{
    color: var(--corfont);
}

.b > h2{
    color: var(--corfont);
}

img.lado{
    float: right;
}

a{
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: blue;
}