@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin: auto;
}

main .quadrado{   
    margin: 0px 0px 0px;
    padding: 35px;
    border: 1px solid black;
    transition-duration: 0.5s;
    text-decoration: none;

    
}
main .quadrado2{
    margin: 34px 0px 0px;
    padding: 35px;
    border: 1px solid black;
    transition-duration: 0.5s;
    text-decoration: none;

    
}
.quadrado:hover{
    
    padding: 40px;
    box-shadow: -11px 10px 0px black;

}
.quadrado2:hover{
    
    padding: 40px;
    box-shadow: -11px 10px 0px black;

}

header > h1{
    text-align: center;
}

nav > a{
    color: black;
    text-decoration: none;
}

.quadrado > a{
    color: black;
    text-decoration: none;
    
}

.quadrado2 > a{
    color: black;
    text-decoration: none;
    
}


#p1{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    

}
#p2{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    

}

div.quadrado > img{
    
    padding: 0px 0px 0px;
    margin: -89px -17px -7px;
    height: 95px;
    width: 93px;
}
div.quadrado2 > img{
    
    padding: 0px 0px 0px;
    margin: -89px -17px -7px;
    height: 95px;
    width: 93px;
}